
/* Menu */
.nav-link {
    color: #e3e0e9;
}

.nav-link:hover {
    color: rgb(2, 2, 2);
}

/* HERO */
.hero {
    padding: 0;
}

/* Estrutura do SLIDE */
.hero .carousel {
width: 100%;
min-height: 100vh;
padding: 0;
margin: 0;
position: relative;
}

.hero img {
width: 100%;
height: 100%;
position: absolute;
inset: 0;
display: block;
object-fit: cover;
z-index: 1;
}

.hero .carousel-item {
position: absolute;
inset: 0;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
overflow: hidden;
}

.hero .carousel-item::before {
content: " ";
background: #0000058e;
position: absolute;
inset: 0;
z-index: 2;
}


.hero .carousel-container {
    position: absolute;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    inset: 0;
    }

.hero h2 {
color: aliceblue;
font-size: 2.2rem;
font-weight: 700;

/* font-family: ; */
animation: fadelnDown 1s both;
}

.hero p {
color: azure;
max-width: 60%;
}

/* Icones Setas Trocam Slides */
.hero .carousel-control-prev,
.hero .carousel-control-next {
    background: none;
    font-size: 2rem;
    line-height: 0;
    width: 10%;
    transition: 0.3s;
    opacity: 0.3s;
}

.hero .carousel-control-prev:houver,
.hero .carousel-control-next:houver {
opacity: 0,9;
color: #0b780b;
transition: 0.3s;
line-height: 0.3;
}

.carousel-indicators .active {
    background-color: rgb(241, 21, 21);
}







/* Call to Action */

.cta {
padding: 6.25rem 0;
position: relative;
clip-path: inset(0); /* Recorte */
}

.cta img {
position:fixed;
display: block;

/* Posição */
bottom: 0;
right: 0;
top: 0;
left: 0;
width: 100%; /* Largura */
height: 100%;
object-fit: cover;
z-index: 1;

}

.cta .container {
    position: relative;
    z-index: 3;
}

/* Filtro antes da Foto */
.cta::before {
content: "";
background: rgba(238, 231, 231, 0.705);
position: absolute;
inset: 0;
z-index: 3;
}

.cta .cta-btn {
    font-size: 1.4rem;
    color: aliceblue;
    background: green;
    text-decoration: none;
    padding: 0.8rem 2.5rem;
    border-radius: .5rem;
    display: inline-block;
    transition: all .3s ease-in-out;
    letter-spacing: 1px;
    font-weight: 400;
    border: 2px solid aqua;

}

.cta .cta-btn:hover {
/* Filter brigtne */
background: green;
border: none;
/* box-shadow */
}


.portfolio-filters {
    list-style: none;
    margin: 10px auto 20px auto;
    text-align: center;
    }



/* Herança = Todas as Li's da ul */

.portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    /* background: rgba(33, 122, 255, 0.877); */
    color: rgb(24, 21, 184);
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.portfolio-filters li:hover,
.portfolio-filters li.filter-active {
   
    filter: brightness(95%);
    background: #938aa1;
    color: black;
}


/* O site em telas ate 575px */
@media (max-width: 575px) {
.portfolio-filters li {
    font-size: 1rem;
}

}

.portfolio-content .portfolio-info {
    opacity: 0;
    position:absolute;
    inset: 0;
    z-index: 3;
    background: #00000073;
    padding: 15px;
}

/* Link = ( a href ) da IMG */
.portfolio-content .portfolio-info .preview-link {
position: absolute;
font-size: 1rem;
color: #fff;
left: calc(50%);
top: calc(50%);
transition: translate ( -50%, -50%);

}


.portfolio-content:hover .portfolio-info {
opacity: 1;

}

.portfolio-content:hover img {
transform: scale(1.1);

}

.portfolio-content {
position: relative;
overflow: hidden;

}



.portfolio-content img {
transition: 0.3s;

}