*
/* Regra */

.row {
    background: #2d64b8;
    margin: .2rem;
    padding: .2rem;
}

.container {
    background:#414141;
    padding: .5rem;
}

.coluna {
    border:5px solid #fff;
    background: #378a1e
}